<div class="container">
    <h1>Create New Post</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="title">Title:</label>
            <input
                formControlName="title"
                id="title"
                type="text"
                class="form-control">
           <!--ng if direttiva booleana che in questo caso controlla il titolo
            -->
            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
              <!--se il campo titolo non è corretto esce alert
            -->
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="body">Body</label>
            <textarea
                formControlName="body"
                id="body"
                type="text"
                class="form-control">
            </textarea>
            <!--ng if direttiva booleana che in questo caso controlla il   la text area
            -->
            <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
               <!--se il campo body text area non è corretto esce alert
            -->
                <div *ngIf="f['body'].errors && f['body'].errors['required']">Body is required.</div>
            </div>
        </div>
   <!--il bottone si abilita quando i campi sono validi-->
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
